{% load static %}

{% load render_bundle from webpack_loader %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>SpeechAce API Sample</title>
    <link rel="shortcut icon" href="{% static 'score_speech/assets/favicon.png' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'score_speech/css/django_sample.css' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
          integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
</head>
<body>

    <div id="react-app"></div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/es6-promise@4/dist/es6-promise.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/es6-promise@4/dist/es6-promise.auto.js"></script>

    <script type="text/javascript">
        window.sample_recorder_worker_url = "{% static 'score_speech/js/recorder_worker.js' %}";
        window.sample_score_text_speech_url = "{% url 'score_speech:score_text_speech' %}";
    </script>
    {% render_bundle 'sample' %}

</body>
</html>
